.left{
    width: 293px;
    height: 1024px;
    background-color: rgba(211, 211, 211, 0.277);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    @media (max-width: 431px){
        width: 87px;
        height: 926px;
        gap: 30px;
    }
}
.line{
    width: 254px;
    height: 1px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px 10px);
    @media (max-width: 431px){
        width: 69px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}
h1{
    width: 254px;
    color: #1F50FF;
    font-size: 20px;
    @media (max-width: 431px){
        width: 87px;
    }
}
.img1{
    width: 76px;
    height: 76px;
    border-radius: 50px;
    background-color: #F2F2F2;
    @media (max-width: 431px){
        width: 60px;
        height: 60px;
    }
}
.div1{
    width: 254px;
    height: 109px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    @media (max-width: 431px){
        width: 87px;
        justify-content: center;
        align-items: center;
    }
}
.p1{
    font-size: 16px;
    width: 115px;
    @media (max-width: 431px){
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
}
.p2{
    color: #1F50FF;
    font-size: 12px;
    font-weight: 500;
    width: 224px;
    display: flex;
    justify-content: center;
    @media (max-width: 431px){
        display: none;
    }
}
.followers{
    width: 198px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
    @media (max-width: 431px){
        flex-direction: column;
        width: 42px;
        height: 150px;
    }
}
.p3{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.div2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 240px;
    @media (max-width: 431px){
        width: 87px;
        align-items: center;
        gap: 30px;
    }
}
.icondiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.p4{
    font-size: 14px;
    font-weight: 400;
    @media (max-width: 431px){
        display: none;
    }
}
header{
    width: 923px;
    height: 66px;
    background-color: rgba(211, 211, 211, 0.277);
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 30px;
    gap: 73%;
    @media (max-width: 431px){
        width: 298px;
        height: 33px;
    }
}
.middle{
    width: 714px;
    height: 183px;
    background-color: rgba(211, 211, 211, 0.277);
    border-radius: 10px;
    @media (max-width: 431px){
        width: 226px;
        height: 79px;
    }
}
main{
    width: 714px;
    height: 706px;
    background-color: rgba(211, 211, 211, 0.277);
    border-radius: 10px;
    margin-top: -750px;
    @media (max-width: 431px){
        width: 226px;
        height: 724px;
    }
}
body{
    display: flex;
    gap: 50px;
    @media (max-width: 431px){
        gap: 10px;
    }
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    @media (max-width: 431px){
        gap: 10px;
    }
}
.right{
    width: 185px;
    height: 929px;
    background-color: rgba(211, 211, 211, 0.277);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    @media (max-width: 431px){
        width: 64px;
        height: 874px;
    }
}
.icons{
    width: 164px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#l{
    @media (max-width: 431px){
        display: none;
    }
}
#m{
    display: none;
    @media (max-width: 431px){
        display: block;
    }
}
.iconimg{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    @media (max-width: 431px){
        width: 20px;
        height: 20px;
    }
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 690px;
    margin-top: 20px;
    @media (max-width: 431px){
        width: 174px;
        height: 23px;
        justify-content: start;
        margin-left: 5px;
    }
}
.src{
    width: 550px;
    height: 56px;
    border-radius: 28px;
    border: 0px;
    transition: 1s;
    @media (max-width: 431px){
        width: 174px;
        height: 23px;
    }
}
.srcimg{
    border-radius: 50px;
    width: 61px;
    height: 61px;
    @media (max-width: 431px){
        width: 26px;
        height: 26px;
    }
}
.src:hover{
    background-color: #1f50ff86;
    color: black;
    border: none;
}
.src:focus{
    background-color: #1F50FF;
    color: black;
    border: none;
}
.lline{
    width: 690px;
    height: 0.5px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    @media (max-width: 431px){
        width: 207px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
.icon1, .icon2, .icon3, .icon4, .icon5{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    @media (max-width: 431px){
        gap: 5px;
    }
}
.icon3, .icon4, .icon5{
    @media (max-width: 431px){
        display: none;
    }
}
.line2{
    height: 25px;
    width: 0.2px;
    background-color: black;
    margin-right: 10px;
    @media (max-width: 431px){
        height: 12px;
    }
}
.icons2{
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: center;
    align-items: center;
    @media (max-width: 431px){
        width: 174px;
        margin-left: 20px;
    }
}
.pp{
    @media (max-width: 431px){
        font-size: 8px;
    }
}
.submit{
    border: none;
    background-color: #1F50FF;
    color: white;
    width: 96px;
    height: 39px;
    border-radius: 20px;
    margin-left: 50px;
    transition: 0.5s;
    @media (max-width: 431px){
        width: 51px;
        height: 16px;
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.submit:hover{
    background-color: #0037ff;
}
.submit:active{
    background-color: #001b7a;
}
.p5{
    font-size: 12px;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    @media (max-width: 431px){
        display: none;
    }
}
.img4{
    margin-top: 15px;
    width: 141px;
    height: 93px;
    margin-left: 20px;
    border-radius: 10px;
    @media (max-width: 431px){
        display: none;
    }
}
.p6{
    color: #1F50FF;
    text-decoration: underline;
    font-size: 9px;
    margin-top: 50px;
    margin-left: 20px;
    @media (max-width: 431px){
        display: none;
    }
}
.line3{
    width: 141px;
    height: 0.5px;
    background-color: black;
    margin-left: 7px;
    margin-top: 30px;
    @media (max-width: 431px){
        width: 48px;
        margin-top: 15px;
    }
}
.emoji{
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    @media (max-width: 431px){
        display: none;
    }
}
.em{
    @media (max-width: 431px){
        margin-left: 20px;
        margin-top: 10px;
    }
}
.p7{
    width: 151px;
    height: 24px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
    @media (max-width: 431px){
        display: none;
    }
}
#k{
    display: none;
    @media (max-width: 431px){
        display: block;
        margin-left: 20px;
        margin-top: 10px;
    }
}
.div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 61px;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
    @media (max-width: 431px){
        width: 130px;
        margin: 0px;
        height: 50px;
    }
}
.div4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p8{
    font-size: 14px;
    @media (max-width: 431px){
        font-size: 8px;
    }
}
.p9{
    color: #1F50FF;
    font-size: 10px;
    @media (max-width: 431px){
        font-size: 7px;
    }
}
.img2{
    border-radius: 50px;
    @media (max-width: 431px){
        width: 36px;
        height: 36px;
    }
}
.p10{
    width: 660px;
    height: 48px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 10px;
    @media (max-width: 431px){
        width: 205px;
        height: 27px;
        font-size: 8px;
    }
}
.img3{
    width: 660px;
    height: 321px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    @media (max-width: 431px){
        margin-left: 15px;
        margin-top: 7px;
        width: 199px;
        height: 99px;
    }
}
.div5{
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
    @media (max-width: 431px){
        width: 180px;
    }
}
.p11{
    font-size: 12px;
    text-decoration: underline;
    color: #1F50FF;
    @media (max-width: 431px){
        font-size: 6px;
    }
}